.md-table{
   table{
      margin: 0px!important;
      display: table; 
      tr{
         border-top: none; 
         th{
            border: none;
         }
         td{
            border: none;
         }
      }
   }
}
.demo-block-control .icon{
    margin-top: 19px
}